---
permalink: /tags/
layout: base.njk
eleventyNavigation:
  key: Tags
  parent: Notebook
---
<h1>Tags</h1>

<ul>
{% for tag in collections.all | tagCloudIndex %}
	{% set tagUrl %}/tags/{{ tag.tagName | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag.tagName }} ({{ tag.tagAmount }})</a></li>
{% endfor %}
</ul>