---
layout: base.njk
---
	<article>
		<header>
			<h1>{{ title}}</h1>
			<small>
			<nav>
				<ul>
					{%- if created  %}
					<li>
						Posted on <time datetime="{{ created | htmlDateString }}">{{ created | htmlDateString }}</time>. Last updated on             <time datetime="{{ modified | htmlDateString }}">{{ modified | htmlDateString }}</time>.
					</li>
					{%- endif %}
					{%- if tags.length  %}
							{%- for tag in tags | filterTagList %}
							{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
							<li><a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a></li>					
							{%- endfor %}
					{%- endif %}

				</ul>
			</nav>
			</small>
		</header>
		{{ content | safe }}
	{%- if backlinks.length  %}

	<footer>
		<small>
			<h2>Pages that link to this page:</h2>
			<ul>
			{%- for backlink in backlinks %}
				<li><a href="{{ backlink.url }}">{{ backlink.title }}</a></li>
			{%- endfor %}
			</ul>
		</small>
	</footer>
						{%- endif %}

	</article>


